* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#0172af, #74febd);
  height: 150vh;
  color: antiquewhite;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 50%;
}

.heading {
  margin-top: 80px;
  margin-bottom: 80px;
}

.btn {
  background-color: #0172af;
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.end-txt {
  margin-top: 200px;
  margin-bottom: auto;
  color: #0172af;
  font-size: 20px;
}

.end-txt2 {
  margin-top: 100px;
  margin-bottom: auto;
  color: #0172af;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #0172af;
}

.input {
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.nav {
  padding: 15px;
  font-size: 20px;
  background-image: linear-gradient(#74febd, #0172af);
}

.nav-link {
  text-decoration: none;
  color: antiquewhite;
  padding-right: 5px;
  margin-right: 2px;
}

.nav-right {
  float: right;
}

.card {
  background-image: linear-gradient(#ff4066, #fff16a);
  padding: 10px;
  border-radius: 20px;
  border: solid 3px black;
  margin: 10px;
  width: 25vh;
  height: 30vh;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-link {
  text-decoration: none;
  color: antiquewhite;
  text-align: center;
}

.float-right {
  float: right;
}

.card-text {
  height: 150px;
}

.card-btn {
  margin-top: 10px;
}
